<h1>Perfil del Usuario</h1>
<p><strong>Nombre:</strong> {{first_name}} {{last_name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Edad:</strong> {{age}}</p>
<p><strong>Rol:</strong> {{role}}</p>

<a href="/users/logout"><button type="submit">Cerrar sesión</button></a>

